# Python
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
.installed.cfg
.pytest_cache/
.ruff_cache/
*.egg-info/
*.egg
**/.egg-info/
**/.egg
**/.pytest_cache/
**/.ruff_cache/
**/build/
**/develop-eggs/
**/dist/
**/downloads/
**/eggs/
**/.eggs/
**/parts/
**/sdist/

# Virtual Environment
.venv/
venv/
env.bak/
venv.bak/
**/venv
**/.venv

# IDE files
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

# Project-specific
backend/tests/test_controller
backend/data
.env
*.env
env.*
**/.env
**/*.env
**/env.*